@font-face {
  font-family: "Roboto";
  src: url('/assets/fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Roboto";
  src: url('/assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}

:root {
  --Red: hsl(4, 100%, 67%);
  --Blue-800: hsl(234, 29%, 20%);
  --Blue-700: hsl(235, 18%, 26%);
  --Grey: hsl(0, 0%, 58%);
  --White: hsl(0, 0%, 100%);
  --font-roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-roboto);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: var(--White);

  display: flex;
  justify-content: center;
  min-height: 100dvh;
}

.container {
  background: var(--White);
  color: var(--Blue-800);
  max-width: 375px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  border-radius: 0;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 0 1rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--Blue-800);
    text-shadow: 0 0 4px rgb(0 0 0 / 25%);
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    text-wrap: pretty;
  }

  ul {
    list-style: none;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      display: flex;
      align-items: start;
      gap: 16px;
    }
  }
}

.label-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  label {
    font-size: 12px;
    font-weight: 700;
    color: var(--Blue-800);
    letter-spacing: 0.025em;
  }

  .error-msg {
    display: none;
    color: var(--Red);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
}

input {
  width: 100%;
  padding: 16px;
  border: 1px solid var(--Grey);
  border-radius: 8px;
  margin-bottom: 16px;
  outline: none;
  cursor: pointer;

  &:focus {
    border-color: var(--Blue-800);
  }
}

input.error {
  color: var(--Red);
  border-color: var(--Red);
  background-color: hsl(4, 100%, 67%, 0.10);
}

button {
  width: 100%;
  padding: 1rem;
  background-color: var(--Blue-800);
  color: var(--White);
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: .3s ease;

  &:hover {
    background: linear-gradient(to right, #ff527b, #ff6a3a);
    box-shadow: 0 10px 20px rgb(255 82 123 / 40%);
  }
}

.card-image {
  flex: .9;
}

.hidden {
  display: none !important;
}

.success-card {
  background: var(--White);
  margin: auto;
  padding: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.success-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.success-icon {
  width: 60px;
}

@media (width >=640px) {
  body {
    background: var(--Blue-700);
  }

  .container {    
    max-width: 640px;    
    margin: auto;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 0 24px rgb(0 0 0 / 25%);
  }

  .card {
    flex-direction: row;
    gap: 12px;
  }

  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
    border-radius: 12px;      
    img {
      display: block;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: left center;
    }
  }

  .success-card {
    width: 400px;
    height: 400px;
    min-height: 360px;  
    padding: 2rem;    
  }
  .success-content {
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex: 1;
    div {
      gap: 24px;
      h2 {
        font-size: 48px;
        line-height: 1;
      }
    
    }
  }
  
}

@media (width >=768px) {
  .container {
    display: grid;
    place-content: center;
    max-width: 930px;
    margin: auto;
    padding-inline: 1rem;
    
  }

  .card {
    gap: 32px;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 560px;
      aspect-ratio: 9 / 16;
    }
  }

  .card-content {
    gap: 20px;
    h1 {
      font-size: 56px;
      letter-spacing: -0.025em;
    }
    ul {
      gap: 1rem;
    }
  }
  input {
    margin-bottom: 1.5rem;
  }
  button {
    margin-bottom: 0;
  }
}